@keyframes appearance {
  0% {
    opacity: 0;
    transform: translate(0, -10%);
  }
  100% {
    opacity: 100%;
    transform: translate(0, 0);
  }
}

.wrapper-container {
  animation-name: appearance;
  animation-duration: 0.5s;
  animation-iteration-count: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 3px;
  background-color: var(--primary-background-color);
  padding: 20px;
  gap: 10px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 0 15px;
}

.wrapper-container button {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .wrapper-container {
    width: 95%;
  }
}
