.article-container {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  transition: 0.3s;
}

.article-container:hover {
  background-color: var(--secondary-background-color);
  box-shadow: rgba(232, 175, 3, 0.6) 0 0 5px;
  transform: scale(1.03);
}

.article-title {
  font-size: 20px;
  font-weight: 500;
}
